<!doctype html>
<html lang="ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ shop.name }} - Scoreboard</title>
    <meta name="theme-color" content="#3255a6">
    <link rel="icon" href="{{ 'Full-Logo.png' | asset_url }}">
    {{ content_for_header }}
    {{ 'index-yafpMp2w.css' | asset_url | stylesheet_tag }}
    <link rel="manifest" href="{{ 'manifest.webmanifest' | asset_url }}">
    <script id="vite-plugin-pwa:register-sw" src="{{ 'registerSW.js' | asset_url }}"></script>
  </head>
  <body>
    <div id="root"></div>
    {{ content_for_layout }}
    {{ 'index-BrPL0CaV.js' | asset_url | script_tag }}
  </body>
</html>


